
body {
  font-family: Avenir, sans-serif;
  align-content: center;

}

#overlay {
  position: fixed;
  visibility:hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 50;
}

* {
  box-sizing: border-box;
}

/* style containers */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 0px 0;
}

.login-container {
  width: 500px;
  height: 800px;
  position: relative;
  border-radius: 5px;
  padding: 125px 0px 200px 0px;
  margin-left: auto;
  margin-right: auto;
}

.menu-container {
  position: relative;
  border-radius: 5px;
  height: 800px;
}

.user-container {
  width: 800px;
  height: 800px;
  position: relative;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 125px 0px 200px 0px;
}

/* navigation */
.nav {
  text-align: center;
  height: 50px;
  width:auto;
  min-width: 500px;
}

.nav .col img{
  float:left;
  width: 110px;
  height: 70px;
}

#navHome img{
  float:left;
}
#navUser img{
  float: right;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
}

input:hover,
.btn:hover {
  opacity: 1;
}

.title {
  font-size: 72px;
  font-weight: bold;
  color: #A53624;
  text-align: center;
}

.login {
  color: #609DA9;
  text-align: center;
  font-size:20px;
  padding-bottom: 20px;
}

.user-data {
  color: #609DA9;
  text-align: left;
  font-size:18px;
}

.hello {
  font-size: 34px;
  font-weight: bold;
  color: #A53624;
  text-align: center;
  padding-bottom: 20px;
}

.links {
  width: 500px;
  margin: auto;
}

#forumText {
  width: 100%;
  height: 100px;
  background-color: lightblue;
  border-radius:10px;
  border-bottom: dotted 2px grey;
  padding: 10px;
  margin-top: 10px;
}

#forumNewText{
  border-radius:10px;
  padding: 10px;
  height: 100px;
  width: 100%;
  font-size: 14px;
  font-family: Avenir, sans-serif;
}

#comments {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius:10px;
  border-bottom: dotted 2px grey;
  padding: 10px;
  margin-top: 10px;
}

/* style the submit button */
input[type=submit] {
  background-color: #EF9420;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #E27B07;
}

/* Two-column layout */

.login-col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

.col {
  float: left;
  width: 50%;
}

/* splitting the screen into thirds (3 columns)*/
.col33 {
  float: left;
  width: 33%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
  height: 800px;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
}

/* fitting images into the column */

.col33 img{
  width:100%;
  margin-top: 50%;
}

/* User Profile column */
.useCol {
  float: left;
  width: 50%;
  margin: auto;
}

.useCol img{
  float: right;
  border-radius: 50%;
  border: white 4px solid;
  width: 200px;
}

/* vertical line for 1/2 screen */
.vl {
  position: absolute;
  left: 50%;
  border: 1px solid #F7FBFD;
  border-radius: 1px;
  margin-top: 20px;
  height: 175px;
}

/* MENU PAGE */
/* activities column */

#actCol{
  background-color: #BCDEE3;
  }

/* connect column */
#conCol {
  background-color: #F6B96D;
}

/* resources column */
#resCol{
  background-color: #CB5932;
}

/* ACTIVITIES PAGE */
/* animal column */
#animalCol{
  background-color: #B1E0D9;
}

/* music column */
#musicCol{
  background-color: #D6E7E4;
}

/* meditation column */
#medCol{
  background-color: #8DA7AA;

}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

.responsive-button{
  opacity: 0.8;
  transition: transform .2s;
  cursor: pointer;
}
.responsive-button:hover{
  opacity: 1;
  transform: scale(1.2);
}

#menu-button:hover{
  filter: contrast(110%)
}

#resources-button2{
  background-color: #CB5932;
}

.points{
  /* left:auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* top:calc();
  left:25%; */
  visibility: hidden;
  /* height: 500px;
  min-width: 400px; */
  z-index: 100;
  height: 50%;
}

#badgeInfo{
  height: 60%;
}

#backdrop{
  background: black;
  z-index: 50;
  opacity: 0.8;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
